
<a routerLink="/home" class="back"> < back</a>


<div id="slider">
<figure>
  <img src="assets/test.jpeg">
  <img src="assets/small.jpeg">
  <img src="assets/go.jpeg">
  <img src="assets/we.jpeg">
  <img src="assets/baby.jpeg">
</figure>
</div>


  <p>This name is given to a female who loves fashion and is very gregarious. Laugh alot and is very funny. They always find love easily and cannot easily say goodbye. They can behave in any manner as to suit the situation they find themselves.
    If you need to go for a party, go ahead and grab a kemisola
    ##kemisola.#beautiful.#lovable.#unique.</p>