
 <div class="container">

<h6 routerLink="/home" class="back"> <<< return </h6>

<!-- 
<div id="slider">
<figure>
  <img src="assets/f11.jpg">
  <img src="assets/f6.jpg">
  <img src="assets/go.jpeg">
  <img src="assets/we.jpeg">
  <img src="assets/baby.jpeg">
</figure>
</div> -->

<div class="scrollmenu">
        
  <img src="assets/f11.jpg" class="img-fluid" alt="">
  <img src="assets/f6.png" class="img-fluid" alt="">
  <img src="assets/f12.PNG" class="img-fluid" alt="">
  <img src="assets/f14.PNG" class="img-fluid" alt="">
</div>
<p style="margin-top:5px; text-align: center; color: #00c08e;"> <<<<< >>>>></p>


  <!-- <p class="text-center"> 
    People with name Folake tend to be charismatic, cooperative, intuitive, and have a pleasing personality with a gentle manner. Person with Folake having 11 as Personality number work hard to gain confidence and overcome in-born shyness. As a child, and into your early twenties, nervous energy may have caused you to bite your nails or express your nervousness in other ways. You are extremely sensitive and intuitive.
    </p> -->

    <h6 class="text-center"> 
      Persons with the name Folake are caring, responsible, family-orientated, non-romantic, artistic and disciplined.&nbsp;They are natural lovers of children and animals, and strive for peace and harmony.&nbsp;They are ‘trouble-shooters’ who have a tendency to give help and comfort to those who need it most.&nbsp;They have a great depth of compassion and understanding and have a sense of wanting to keep the balance and harmony in situations. This produces the need to protect or take care of others.</h6>

    <hr>

    <h5 class="text-center">UI/UX Designer</h5>
    <p>Designed and implemented web-based and mobile application for user interface using Figma directed front end projects from concept to completion   </p> <br>

     <ul>
       <li> Responsible for creating sketch, wireframe, prototype and visual mockups </li>
       <li> Worked with customers to create an intuitive user interface that are cutting edge and easy to use </li>
       <li> Managed Web and interactive communication projects from initial consultation through successfully launch with ability to handle various projects at the same time and complete them by given deadline</li>
     </ul> 
   
    
    
<div class="row row-cols-1 row-cols-md-3 mt-3" id="pic">
      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            
            <p class="card-text">Folakemi Redesigned whatsapp </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> Her wallet </p>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> Vethub </p>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/w1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> Her wallet </p>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/w3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> Onigbo </p>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/w4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> Shes intrested in selling weed online</p>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="assets/des/w5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
         
            <p class="card-text"> She will soon start selling weed </p>
          </div>
        </div>
      </div>
 </div>
    
</div>
<app-footer></app-footer>