<!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-danger">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-warning">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-info">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->

  <app-header></app-header>


  <div class="wrapper">
    <span style="color:black">H</span>
    <span>e</span>
    <span style="color: rgb(22, 123, 206);">y</span>
    <span style="color:rgb(145, 255, 0)">!</span>
    <span>!</span>
    <span style="color: pink; margin-left: 10px;">I</span>
    <span style="margin-left: 10px;">Am</span>
    <span style="color: #00c08e; margin-left: 10px;">Folakemi</span>

    <span style="color: pink; margin-left: 10px;">.....</span>

  </div>
    <!-- <br> -->
    <p id="date" style=" font-family: 'Pacifico', cursive;">6th September 2021</p>


  <div class="row row-cols-1 row-cols-md-3 mt-3" id="pic">
    <div class="col mb-4">
      <div class="card">
        <img src="assets/f7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title lol">Folakemi</h5>
          <p class="card-text lolo">Real beauty isn't about symmetry or weight or makeup: it's about looking life right in the face and seeing all its magnificence reflected in your own. - Valerie Monroe  </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets/f9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title lol">Kemzolyn</h5> -->
          <p class="card-text lolo"> It's a pity that it's impossible to hold a beauty contest among the angels. It would be the only competition that you could compete fairly. You are beautiful in every single way. if you know you know!</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets/f10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title lol">Drake</h5>
          <p class="card-text lolo">Have you met Folakemi ? That babe is hilarious!</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets/f3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title lol">Adeola</h5>
          <p class="card-text lolo"> "Looking adorable, as always." "OK, sis!" "Always and forever obsessed with you." "You're legit glowing."</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets/fo1.jpg" class="card-img-top" alt="..." style="height: 30%;">
        <div class="card-body">
          <h5 class="card-title lol">Fowokemi</h5>
          <p class="card-text lolo">I love you sisters! #Ihaveababysisters #babysistersareawesome</p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="assets/f12.PNG" class="card-img-top" alt="..." style="height: 30%;">
        <div class="card-body">
          <h5 class="card-title lol">Mummy</h5>
          <p class="card-text lolo"> The day you came into this world was the day that my life was forever changed. I never thought it was possible to feel so many different emotions all at the same time. One look at your beautiful face and I felt overjoyed, incredulous, blessed, relieved, exhausted, and utterly terrified. Being your mother is such a gift. You, my daughter, are such a marvelous gift. I love you forever. </p>
        </div>
      </div>
    </div>
  </div>

  <a class="about" href="#" routerLink="/about"> About Folakemi </a>

  <app-footer></app-footer>